<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="anlr" ng-controller="ctrl">

    <p>Time :<h3>{{theTime}}</h3></p>
    
    <h1>{{welcome+" "+name}}</h1>
    <h1>{{a*b}}</h1>
    <input ng-model="name">
    <p> Your name is <span ng-bind="name"></span></p>
    
    <p>Type a letter in the input field:</p>

    <p><input type="text" ng-model="test"></p>

    <ul>
        <li ng-repeat="x in y | filter:test">{{x | uppercase}}</li>
    </ul>

    <table border="1" width="10%">

     <tr>
        <th ng-click="orderByMe('Name')">Name</th>
       
    </tr>

    <tr ng-repeat="x in y">
    <td>{{x}}</td>
    
    </tr>
    </table>





<script>

    var app=angular.module('anlr',[]);

    app.controller('ctrl',function($scope,$interval){

        $scope.name="uday";
        $scope.welcome="Welcome";
        $scope.a=8;
        $scope.b=10;
        $scope.y=["Angular","Node","MongoDB"]
        $scope.theTime = new Date().toLocaleTimeString();
        $interval(function () {
        $scope.theTime = new Date().toLocaleTimeString();
        }, 1000);

    });

</script>

</body>
</html>
